input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button 
{
     -webkit-appearance: none;
        margin: 0;
}
body{
        background-color: antiquewhite;
        margin:20px;
}
.conatiner{
        margin:20px;
        max-height: fit-content;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        
      
}
.sidebar{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        background-color: #f1f1f1;
        padding: 10px 20px;
        border-radius: 5px;
        margin: 20px;
        width: 70%;
}
.percentage{
        background-color:#a16b6b54;
        color: #333;
        font-size: 16px;
        text-align: center;
        padding: 10px 20px;
        border-radius: 5px;
        margin: 20px;
        width: 70%;
}
.grade{
       
        color: #095a4d;
        font-size: 50px;
        text-align: center;
        width: 70%;
}
button{
       font-family: fantasy;
        background-color: #333;
        color: #fff;
        padding: 10px 20px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        margin-top: 10px;
        
        
}
.main{
        width: 70%;
        padding: 20px;
        background-color: #f1f1f1;
        border-radius: 5px;
        margin-top: 20px;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        font-weight: 300;
        font-size: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
}
button:active{
        background-color: #dd9494b5;
}
.percentagess{
        font-weight: 800;
        font-size: 30px;
        color:rgb(23, 35, 35)
}
.welcome{
        font-size: 30px;
        font-weight: 800;
        color: #333;
}
